page-loaders {
    .loading-screen-wrapper {
        z-index: 100000;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.6);
        width: 100%;
        height: 100%;
        display: block;
      }
      
      .loading-screen-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

}
