<!--
  Generated template for the FormValidationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>
      Form Element
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="ion-content">
  
      <ion-item class="ion-item">
        <ion-label stacked>Type Text</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>


      <ion-item class="ion-item">
        <ion-label stacked>Type Text</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>


      <ion-item class="ion-item">
          <ion-label stacked>Type Number</ion-label>
          <ion-input type="number"></ion-input>
      </ion-item>

      <ion-item class="ion-item">
          <ion-label stacked>Type Passowrd</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>

        <ion-item class="ion-item">
            <ion-label stacked>Type Date</ion-label>
            <ion-input type="date"></ion-input>
        </ion-item>

        <ion-item class="ion-item">
            <ion-label stacked>Type Time</ion-label>
            <ion-input type="time"></ion-input>
        </ion-item>

  
          <div  class="ion-item"  *ngIf="testList.length > 0">
            <ion-item *ngFor="let member of testList">
              <ion-label>{{member?.testName || 'N/A'}}</ion-label>
              <ion-checkbox color="dark" (click)="selectMember(member)" [(ngModel)]="member.checked"></ion-checkbox>
            </ion-item>
          </div>

          <ion-list  class="ion-item radio-b" radio-group>
              <ion-row>
                <ion-col>
                    <ion-label>Go</ion-label>
                    <ion-radio checked="true" value="go"></ion-radio>
                </ion-col>
                <ion-col>
                    <ion-label>Rust</ion-label>
                     <ion-radio value="rust"></ion-radio>
                </ion-col>
              </ion-row>     
          </ion-list>
         

            <ion-item class="ion-item">
              <ion-label>Select Favorite Friend </ion-label>
              <ion-select>
                <div *ngFor="let friend of friendList">
                    <ion-option  value="friend.name">{{friend.name}}</ion-option>
                </div>
                
              </ion-select>
            </ion-item>

<!-- 
            <ion-item class="ion-item">
              <ion-label>Select Friend Group</ion-label>
              <ion-select multiple="true" cancelText="Cancle" okText="Select" >
                <ion-option *ngFor="let friend of friendList" value="friend.id" >{{friend.name}}</ion-option>
              </ion-select>
            </ion-item> -->
        
       
 
</ion-content>
