form-validation {
    .ion-content{
        .ion-item{
            margin: 10px;
            width: 94%;
            padding-bottom: 12px;
            padding-right: 10px;
            background-color: white;
            }
            .radio-b{
                padding: 0px 0px 11px 19px;
            }
    }


}
