<!--
  Generated template for the DocumentViewerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Document Viewer</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <button ion-button full (click)="openPDF('https://s1.q4cdn.com/806093406/files/doc_downloads/test.pdf')">View Your PDF</button>
    <button ion-button full (click)="openPdfByWndowOpen('https://s1.q4cdn.com/806093406/files/doc_downloads/test.pdf')">Open PDF by Window open</button>
 



</ion-content>
