<!--
  Generated template for the FileTransferPluginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>file-transfer-plugin</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <button ion-button full (click)="openDownloadPDF()">View Your PDF</button>
    
</ion-content>
