
<ion-header>
  <ion-navbar>
    <ion-title>MultiPle List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

<!-- 
  You Can place add button anywhere 
  but you need to place remove button inside your ngFor
  because we send index of this array which we want to remove
  
--->
<!-- <div *ngFor="let item of newDiv; let i=index">
  <ion-row>
    <ion-col col-9>
     <p>I am <b>{{i+1}}div</b></p>
    </ion-col>
    <ion-col col-3>
      <button (click)="removeAttribute(i)" ion-button expand="full" fill="outline">Remove</button>
    </ion-col>
  </ion-row>
</div>
<button (click)="addNewDiv()" ion-button expand="full" fill="outline">Add New Div</button>




</ion-content> -->
