<!--
  Generated template for the ShowMoreLessPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Show More Less</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<div class="paragraph">
  <div class="less" [ngClass]="{show: show}">
    A paragraph is a series of related sentences developing a central idea, 
    called the topic. Try to think about paragraphs in terms of thematic unity: 
    a paragraph is a sentence or a group of sentences that supports one central, 
    unified idea. Paragraphs add one idea at a time to your broader argument.
  </div>
  <button ion-button full *ngIf='!show' (click)="show = true">Show</button>
  <button ion-button full *ngIf='show' (click)="show = false">Less</button>
</div>
  
</ion-content>