show-more-less {

    .less {
        font-size: 16px;
        line-height: 16px;
        height: 65px;
        overflow: hidden;
   }
   .show {
        overflow: visible;
        height: auto;
   }



button{
     margin-top: 30px;
}

.paragraph{
     background-color: #e5e5e5;
    font-size: 19px;
    line-height: 21px;
    margin: 21px;
    padding: 51px;
    text-align: justify;
}



}
