page-home {

 #custom-overlay{
     position: fixed;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     z-index: 100000;
     width: 100%;
     background-color: #002a3e;
 }
 .flb{
     background-color: #3ebffb;
     height: 100%;
     width: 100%;
     animation: pulse 1s linear forwards;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 .Aligner-item{
     max-width: 50%;
 }
 .Aligner-item--top{
     align-self: flex-start;
 }
 .Aligner-item--bottom{
     align-self: flex-end;
 }
 #custom-overlay img{
     display: block;
     margin: 0 auto;
     width: 50%;
     height: auto;
     animation: animation 3100 linear infinite both;
     animation-delay: 1s;
 }
 @keyframes pluse {
     0%{
         opacity: 0;
     }
     100%{
         opacity: 1;
     }
     
 }


ion-content{
        background: linear-gradient(130deg, #fdcd3b 60%, #ffed4b 60%);
}
.tab-card{
    border-radius: 11px;
    height: 11rem;
    padding: 5px;
}
.checkIcon{
    font-size: 35px;
    margin-top: 4px;
    margin-bottom: 4px;
    color: green;
    background: #f4ffd1;
    padding: 5px 9px 3px 9px;
    border-radius: 31px;
}
div{
    text-align: center;
}
.card-title{
    margin-top: 7px;
    font-size: 18px;
}
}











  
  