<!-- <div id="custom-overlay" [style.display]="splash ? 'flex' : 'none' ">
<div class="flb">
  <div class="Aligner-item Aligner-item--top"></div>
  <img src="../../assets/imgs/logo.png">
  <div class="Aligner-item Aligner-item--bottom"></div>
</div>
</div> -->



<!-- <ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
   <ion-title>Home</ion-title> 
  </ion-navbar>
</ion-header> -->

<ion-content>
  <ion-row>
    <ion-col col-6 *ngFor='let item of title'>
      <ion-card class="tab-card" (click)="goToPage(item.page)">
        <div>
          <ion-icon name="checkmark-circle-outline" class="checkIcon"></ion-icon>
        </div>
        <div class="card-title">
          <b>{{item.title}}</b>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>