<!--
  Generated template for the SwapableListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header style="background-color: rgb(255, 255, 255)">
  <ion-navbar>
    <ion-title>swapable-list</ion-title>
  </ion-navbar> 

  <horizontal-segment-bar 
  [activeTabIndex]="2" 
  (indexIconActive)="indexIconActive($event)"
  activeTabTextColor="blue"
  activeBorderBottomColor="red"
  activeTabFontsize="19"
  textColor="green"
  [segmentList]="segmentBarTitile"
  ></horizontal-segment-bar>

  
</ion-header>

<ion-content class="ion-content">

  <input [(ngModel)]="ishwar">
  <p>{{ishwar}}</p>
  
  <!------------------Defualt Swap on Left Side------------------------->
  <ion-list>
   <ion-item-sliding>
    <ion-item>
    Swipe me to the left
    </ion-item>
    <ion-item-options>
      <button danger (click)="removeItem()"><ion-icon name="trash"></ion-icon> Delete</button>
    </ion-item-options>
   </ion-item-sliding>
  </ion-list>


   <!------------------Defualt Swap on Left Side As Well As Righ Side------------------------->
  <ion-list>
      <ion-item-sliding>
        <ion-item>
          Swap Me on Left Or Right
        </ion-item>
        <ion-item-options side="left">
          <button ion-button (click)="favorite(item)">Favorite</button>
          <button ion-button color="danger" (click)="share(item)">Share</button>
        </ion-item-options>
        <ion-item-options side="right">
          <button ion-button (click)="unread(item)">Unread</button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

   
   

</ion-content>