swapable-list {
    .toolbar-background-md {
        background-color: rgb(255, 255, 255);
    }
   .ion-content{
       background-color: rgb(240, 240, 240);
    .list-md {
        margin: -1px 0 0px;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    ion-item{
        background-color: rgb(255, 255, 255);
    }
    ion-item-sliding{
        box-shadow: 0px 1px 2px black;
    }
    }

}
