segment-bar {


  .label-md {
    margin: 0px;
  }

  .segment-md .segment-button {
    border-bottom-width: none;
    border-bottom-style: none;
    height: 26px;
    border-radius: 4rem;
    background-color: rgb(236, 236, 236);
    min-width: fit-content;
    margin-right: 12px;
    border: solid 1px #cdcdcd;
    padding: 0px 22px 0px 22px;
    line-height: 2.4rem;
    height: 2.4rem;
    color: #242424;
    font-weight: bold;
  }

  .segment-md .segment-button.activated,
  .segment-md .segment-button.segment-activated {
    border-color: #727272;
    opacity: 1;
    background-color: #ff5656;
    color: white;
    font-size: 15px;
    box-shadow: 0px 2px 4px #dbdbdb;
  }

  .segment-head {
    overflow-x: scroll;
    overflow-y: hidden;
    display: -webkit-box;
    height: 4rem;
  }






}
