<!--
  Generated template for the SegmentBarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>segment-bar</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
  <!-- (ionChange)="segmentChanged($event)" -->
  <!-- Default Segment -->
<ion-segment [(ngModel)]="brandName"  class="segment-head">
    <ion-segment-button class="segment-list"   value='all' ngSelected="selected">
       All
    </ion-segment-button>
    <ion-segment-button class="segment-list" *ngFor="let item of brandList" (click)="get(item.id, idd)" class="segment-button"  value={{item.name}}>
    {{item.name}}
    </ion-segment-button>
</ion-segment>

<!-- <div>
  <ion-segment class="segments" [(ngModel)]="brandName">
    <ion-segment-button class="segmentsButton" *ngFor="let item of brandList;  let i = index" value="{{item.name}}">
      <b class="subCategroy" (click)="subCategoriesList(i)" (click)="toggleSection(i)"> {{ item.name }} </b>
    </ion-segment-button>
  </ion-segment>
</div> -->



</ion-content>
