

<div #sliderHead class="container-border-bottom">
    <div #sliderContainer class="container-div">
        <div  #slideElement class="segment-div"  
        *ngFor="let item of segmentBarTitile; let index=index; let last=last" 
        (click)="switchNext(index)" 
        [class.active-tab-title]="activeIndex==index" 
        (tap)="tapTransition(index,segmentBarTitile.length,true)" 
        (panleft)="move($event, 'left')" 
        (panright)="move($event, 'right')"
        (panend)="move($event, 'end')"
        [ngStyle]="{ 'font-size': activeTabFontsize +'px', 'color':textColor, 'color': activeIndex==index ? activeTabTextColor: textColor }"
        >{{item.name}}
        
        <div [ngStyle]="{ 'background':  activeIndex==index ? activeBorderBottomColor : '#079d5c'}" 
        [class.active-tab]="activeIndex==index"> </div>
        </div>
      </div>      
</div>

