horizontal-segment-bar {
    
    .container-div{
        display: inline-flex;
        // overflow-y: scroll;
        // width: 100%;
    }
   .segment-div{
    margin-left: 10px;
    margin-right: 9px;
    //font-size: 19px;
    text-align: -webkit-center;
   }
   .active-tab{
    // background: #079d5c;
    width: 55px;
    height: 4px;
    border-top-left-radius: 59px;
    border-top-right-radius: 63px;
    margin-top: 10px;
   }
   .active-tab-title{
    // color: #067444;
    font-weight: bolder;
   }
   .container-border-bottom{
    border-bottom: solid 1px silver;
    background-color: rgb(255, 255, 255);
   }
}
