<div class="accordion">
  <ul>
    <li *ngFor="let item of accordionList;let i = index; let last = last">
      <a class="acc-handle" tabindex="0">{{item.heading}}</a>
      <div class="acc-panel">
        <p *ngIf="item.ptext">{{item.ptext}}</p>
        <img *ngIf="item.image" src="{{item.image}}">
        <ul *ngIf="item.li">
          <div *ngFor="let li of item.li">
             <li [ngClass]="{'list-bottom':!last}" class="list-bottom">{{li}}</li>
          </div>
        </ul>
      </div>
    </li>
  </ul>
</div>

