<!--
  Generated template for the InAppBrowserPluginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>in-app-browser-plugin</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

    <button ion-button (click)="openWithSystemBrowser('https://s1.q4cdn.com/806093406/files/doc_downloads/test.pdf')">Open with System browser</button>
    <button ion-button (click)="openWithInAppBrowser('https://s1.q4cdn.com/806093406/files/doc_downloads/test.pdf')">Open with In App browser</button>
    <button ion-button (click)="openWithCordovaBrowser('https://s1.q4cdn.com/806093406/files/doc_downloads/test.pdf')">Open with Cordova browser</button>

</ion-content>
