<!--
  Generated template for the PluginsLocalNotificationPluginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Local notification plugin</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <button ion-button full (click)="sendNotification()">Send Notification</button>
  <button ion-button full (click)="send_multiple_notification()">Send Multiple  Notification</button>
  <button ion-button full (click)="sendNofitication_with_icon()">Notification with icon</button>
  <button ion-button full (click)="sendNofitication_on_every_minute()">Notification on every minute</button>
  <button ion-button full (click)="sendNofitication_on_every_day()">Notification on every Day</button>
    <button ion-button full (click)="getPermission">Check Permission</button>
  <button ion-button full (click)="getAll()">Get All</button>

  <ion-list>
    <ion-item *ngFor="let n of shedule">
      <div text-wrap>
          {{ n.id }} - {{n.title}}
          <p>Trigger: {{n.trigger | json }} </p>
      </div>
    </ion-item>
  </ion-list>

<expandable-accordion [accordionList]="accordion"></expandable-accordion>

  
</ion-content>

  
