product-card {


  .wraptocenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 200px;
    height: 86px;
  }

  .wraptocenter * {
    vertical-align: middle;
  }

  .in-stock {
    text-align: center;
    color: #108300;
    font-weight: bold;
    font-size: 13px;
  }

  .out-of-stock {
    text-align: center;
    color: #a60202;
    font-weight: bold;
    font-size: 13px;
  }

  .product-brand {
    color: #a8a8a8;
    font-size: 14px;
    margin-top: 11px;
  }

  .product-name {
    font-weight: bold;
    font-size: 15px;
    padding: 10px 0px 8px 0px;
  }

  .product-price {
    font-size: 14px;
    color: black;
    font-weight: bold;
  }

  .select-md {
    padding: 5px 12px 2px 15px;
  }

  ion-select {
    background-color: #ffffff;
    border-radius: 38px;
    padding: 5px 12px 2px 15px;
    max-width: 60%;
    border: solid 1px #e6e6e6;
  }

  .product-attribute {
    margin-top: 8px;
  }

  .product-add-button {
    text-align: center;
    border: solid 1px #bbbbbb;
    padding: 5px 0px 4px 0px;
    color: #c51b1b;
    font-size: 16px;
    border-radius: 21px;
    margin-top: 91%;
  }

  .product-add-remove {
    text-align: center;
    border: solid 1px #bbbbbb;
    color: #c51b1b;
    font-size: 16px;
    border-radius: 21px;
    margin-top: 91%;
    padding: 2px 0px 2px 3px;
  }

  .product-minus {
    margin-right: 5px;
  }

  .product-pluse {
    margin-left: 5px;
    color: #158f05;
  }

  .product-quantity {
    color: #37872c;
  }

  .products {
    background: #ffffff;
    margin-bottom: 9px;
    border-bottom: solid 1px #d0d0d0;
    border-top: solid 1px #e7e7e7;
  }




}
