<!--
  Generated template for the ProductCardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>product-card</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >

  <ion-grid class="products" *ngFor="let product of productList;let i=index">
    <ion-row>
      <ion-col col-3>
        <div class="wraptocenter">
          <img src="../../assets/imgs/frozen-food.jpg">
        </div>
        <div class="in-stock" *ngIf="product.inStock==true">In-Stock</div>
        <div class="out-of-stock" *ngIf="product.inStock==false">Out-of-Stock</div>
      </ion-col>
      <ion-col col-6>
        <div class="product-brand">{{product.brand}}</div>
        <div class="product-name">{{product.name}}</div>

        <div class="product-price" *ngIf="product.discount>0">₹ {{product.priceDetails.price}}</div>
        <div class="product-price" *ngIf="product.discount==0">₹ {{product.priceDetails.price}}</div>
        <div class="product-price" *ngIf="product.discount>0">₹ {{product.priceDetails.discountedPrice}}</div>


        <div class="product-attribute">
          <ion-select class="weight" interface="action-sheet">
            <ion-option  selected> 1kg </ion-option>
            <ion-option > 20gm </ion-option>
          </ion-select>
       </div>     
      </ion-col>
      <ion-col col-3>
        <div id="outer">
            <!-- <div>
                Offer
            </div> -->
            <div class="product-add-remove" *ngIf="product.productQuantity && product.productQuantity>0">
                  <b class="product-minus" (click)="decreaseQuantity(i,product)"><ion-icon name="remove"></ion-icon></b>
                  <b class="product-quantity">{{product.productQuantity}}</b>
                  <b class="product-pluse" (click)="increaseQuantity(i,product)"><ion-icon name="add"></ion-icon></b>
            </div>
            <div *ngIf="!product.productQuantity || product.productQuantity<=0" class="product-add-button">
                <b (click)="addToCart(product,'fromsearch',i)">+ Add</b>
            </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
