<!--
  Generated template for the FileOpenerPluginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>File Opener Plugin</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <button ion-button full (click)="openPDF('https://s1.q4cdn.com/806093406/files/doc_downloads/test.pdf')">View Your PDF</button>
    <button ion-button full (click)="openLOcalPdf()">View Your PDF</button>

</ion-content>
